body, html {
    overflow: auto;
    font-family: 'Comic Sans MS', cursive, sans-serif;
  }
  
  body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: #ffecef;
    background-color: black;
  }

  .header {
    position: relative;
    background-color: #D1A7A0; 
    padding: 20px 0;
    text-align: center;
  }

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .toggle-button-container button {
    background-color: #E6E6FA;
    border: 2px solid #800080;
    color: red; 
    padding: 10px 20px; 
    cursor: pointer;
  }
  

  .toggle-button-container button:hover {
    background-color: #800080; 
    color: #FFF; 
  }

  .title {
    font-size: 50px; 
    margin-left: 530px;
    margin-right: 10px; 
    color: #ffecef;  
  }

  .name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
    color: #ffecef;
  }

  nav {
    margin: 0; 
    color: #ffecef;
    
  }

  nav a {
    margin: 0;
    color: #ffecef;
  }


footer {
  background-color: #D1A7A0;
  text-align: center;
  padding: 20px 0;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
}


footer a img {
  height: 40px; 
  width: auto;
  margin: 0 10px;
}

  .intro-text {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: #fbD2D7;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    outline-style: dotted;
    outline-color: #fbD2D7;
    outline-offset: 5px;
  }

  section {
text-align: center;
margin: 40px 0;
}

.highlighted-title, .highlighted-title a {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    
    color:  #fbD2D7;
    text-decoration: none; 

}

.section .highlighted-title,
.section .sub-header {
    text-align: center;
    margin: 0 auto; 
}

body {
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

.resume-container {
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    
  }

  .toggle-button-container button {
    background-color: #E6E6FA; 
    border: 2px solid #800080; 
    color: red; 
    padding: 10px 20px; 
    cursor: pointer;
  }
  

  .toggle-button-container button:hover {
    background-color: #800080; 
    color: #FFF; 
  }

  .toggle-button-container {
    position: absolute;
    bottom: 10px; 
    right: 10px; 
    border-color: #8c77be;
    color: #8c77be;  
  }

  .profile-pic {
    height: 100px; 
    width: 100px;
    border-radius: 50%;
    align-self: flex-start;
    margin-bottom: 10px;
    margin-left: 30px;
  }

.left-header {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
  }

  .image-gallery {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 10px;
    margin-top: 30px;
  }

  
  .image-gallery img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }

  .image-gallery-toggle{
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 10px; 
    margin-top: 30px;
  }

  .image-gallery-toggle img {
    width: 300px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
  }

  .image-gallery-rev{
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 10px; 
    margin-top: 30px;
  }

  .image-gallery-rev img {
    width: 220px;
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
  }


  .image-gallery-resumee{
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 10px;
    margin-top: 30px;
  }

  .image-gallery-resumee img {
    width: 600px;
    height: 170px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .sections-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    gap: 20px; 
  }

  .sections-container section {
    flex-basis: calc(50% - 10px);
    max-width: calc(50% - 10px);
  }
  
  section {
    text-align: center;
    max-width: 400px; 
    
  }
  
.sub-header {
    font-size: 20px;
    font-weight: bold;
    
    display: inline;
}

.image-gallery-robotics {
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-wrap: wrap; 
  gap: 10px; 
  margin-top: 30px;
}

.image-gallery-robotics img {
  width: 500px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.mentoring-section {
  text-align: center;
}

.mentoring-section h2 {
  font-size: 32px;
  font-weight: bold;
  color:  #fbD2D7; 
  text-decoration: none; 
  margin-bottom: 20px; 
}

 